<div class="panel panel-default" style="margin-top:5%">
  <div class="panel-heading"
    style="text-align:center;font-weight:bold;font-size:130%">Generar Archivo de Débitos
  </div>
  <div class="panel-body">

    <input style="display:none"
          id="upload"
          type="file" nwdirectory/>

    <form role="form"  >
      <div class="form-group" >
        <i class="fa fa-group" aria-hidden="true"></i>
        &nbsp;&nbsp;
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" ng-model="$ctrl.entidad.nombre">
      </div>

      <div class="form-group" >
        <i class="fa fa-group" aria-hidden="true"></i>
        &nbsp;&nbsp;
        <label for="cuit">CUIT:</label>
        <input type="text" class="form-control" id="cuit"
          ng-model="$ctrl.entidad.cuit">
      </div>

      <div class="form-group">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        &nbsp;&nbsp;
        <label for="fecha">Fecha de Proceso:</label>
        <input type="date" class="form-control" id="fecha" ng-model="$ctrl.entidad.fecha" >
      </div>

     <div class="form-group">
       <i class="fa fa-group" aria-hidden="true"></i>
       &nbsp;&nbsp;
       <label for="pestacion">Prestacion:</label>
       <input type="text" class="form-control" id="prestacion" ng-model="$ctrl.entidad.prestacion">
     </div>

     <div class="form-group">
       <i class="fa fa-calendar" aria-hidden="true"></i>
       &nbsp;&nbsp;
       <label for="fecha">Fecha de Vencimiento:</label>
       <input type="date" class="form-control" id="vencimiento" ng-model="$ctrl.entidad.vencimiento" >
     </div>

     <button type="submit" class="btn btn-default pull-right"
     ng-click="$ctrl.generar()">Generar</button>
   </form>
  </div>
</div>
