<div class="panel panel-default" style="margin-top:5%">
  <div class="panel-heading"
    style="text-align:center;font-weight:bold;font-size:130%">
    Débito Directos
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <a download="ListaDebitos.xls" href="#" title="Exportar a Excel"
        id="button-exportExcel"
        onclick="return angular.element(this).scope().$ctrl.exportExcel(this)">
        <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>
      </a>
      &nbsp;&nbsp;
      <a style="cursor:pointer" title="Exportar a PDF"
        ng-click="$ctrl.exportPDF()">
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control"
          id="filter" ng-model='$ctrl.filter' style="width:300px"
          placeholder="Buscar...">
          &nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </form>
    <br>
    <table class="table table-hover" id="datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>CUIL</th>
          <th>CBU</th>
          <th>Monto</th>
          <th>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </th>
          <th>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="deb in $ctrl.debitos | filter:$ctrl.filter">
          <td>{{ deb.nombre }}</td>
          <td>{{ deb.apellido }}</td>
          <td>{{ deb.cuil }}</td>
          <td>{{ deb.cbu }}</td>
          <td>{{ deb.monto }}</td>
          <td>
            <i class="fa fa-pencil-square-o list-button" aria-hidden="true"
                ng-click="$ctrl.editDebito(deb.iddebito)">
            </i>
          </td>
          <td>
            <i class="fa fa-trash list-button" aria-hidden="true"
                ng-click="$ctrl.deleteDebito(deb.iddebito)">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
